
<!DOCTYPE html>
<html lang="en">

<head>

  

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="index.html#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="index.html#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="index.html#top"></a>
            </li>
            <li>
                <a href="index.html#top">home</a>
            </li>
            <li>
                <a href="index.html#services">how it works</a>
            </li>
            <li>
                <a href="index.html#about">about</a>
            </li>
            <li>
                <a href="index.html#cta">contact Us</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <font color="ffffff"> 
                <br><br><br><br><br><br><br>
                <h2> alerting you to online bullying, <br> grooming or sexting while never sharing <br>your childs private content.</h2>

            </font>    
         

            <div class="container">

        </div>

            <div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
        <p class="go-to brandon">In the meantime, head to  <a href="http://www.harrys.com/">WWW.HARRYS.COM</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        
        <p class="byline brandon"></p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="Tell Me More" />
        <% end %>
    <% end %>
</div></div>

    </header>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>how does it work?</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>create your account</strong>
                                </h4>
                                <p>sign-up and verify your email account with us.</p>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>connect account</strong>
                                </h4>
                                <p>link your childs facebook account through the settings panel.</p>
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>configure alerts</strong>
                                </h4>
                                <p>turn-on/off the alerts you wish to receive from our classifier.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>discuss with your child</strong>
                                </h4>
                                <p>discuss any alerts you receive with your child.</p>

                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <section id="about"> 
        <div class="text-vertical-center">
             <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                   <br><br><br>
                    <h2>more detail?</h2>

                     <a data-toggle="modal" data-target="#privacy" class="btn btn-lg btn-light">privacy</a>
                     <a data-toggle="modal" data-target="#classifier" class="btn btn-lg btn-light">how it works</a>
                     <a data-toggle="modal" data-target="#faq" class="btn btn-lg btn-light">faq's</a>
                     <a data-toggle="modal" data-target="#aboutus" class="btn btn-lg btn-light">about us</a> 

                </div>
            </div>
        </div>
    </aside>

   

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
      <section id="cta"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>we're launching soon!</h3>
                    <p class="lead">leave your email address and we will keep you updated</p>
                    <div class="container">
            <div class="signup-wrapper animated hiding" data-animation="bounceInUp" data-delay="0">

            </div>
        </div>

                     <div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
                     <% if Rails.application.config.ended %>
                     <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
                     <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
                    <p class="go-to brandon">In the meantime, head to  <a href="http://www.harrys.com/">WWW.HARRYS.COM</a></p>
                     <p class="again brandon">Thank You Again!</p>
                      <% else %>
        
                     <p class="byline brandon"></p>
                     <%= form_for @user, :url => { :action => "create" } do |f| %>
                      <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
                    <input class="submit brandon" name="commit" type="submit" value="Tell Me More" />
        <% end %>
    <% end %>
</div>
                </div>
            </div>
        </div>
    </aside>

   



    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>



<!-- Course Outlay -->
<div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">Handling everyones privacy</h2>
      </div>
      <div class="modal-body">
 <p>There is a fine line between monitoring for suspicious activity and breaching the trust of users by passing on private content for viewing by a third party without explicit permission to do so. </p>

<p>For this reason our service never passes along images, message content or posts/comments in a minor’s feed to the parent they have authorized to be alerted of suspicious activity. </p>

<p>Instead, we rely on a constructive dialogue occurring between parents and their children over content that our classifier flags as potentially of a dangerous nature once we have alerted the parent. </p>

<p>Requiring the parent to sign-up for an account separate to the minor and asking the minor to “authorize” access to their account to our service means there is a social contract formed between minor and guardian that what they do online is private, unless it is potentially harmful to them. </p>

<p>Some may argue that this in itself will make the service in-effective, we however believe it helps bring the conversation out into the open – respecting the privacy of the minor while also ensuring they know that their parent or guardian is there to help and that it is ok to talk about it with them if they need to.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Entry Requirements -->
<div class="modal fade" id="classifier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">How it works</h2>
      </div>
      <div class="modal-body">
<p> 
Our smart classifier works by applying a technique similar to that of spam and anti-malware filters in detecting messages that are likely to be harmful or dangerous. </p>

<p>By applying a mathematical algorithm to the content of a message we are able to generate a rating for each item regarding the probability that it is of a bullying or other harmful nature.
</p>

<p> 
Our service allows a parent or guardian to agree with their minor which elements the service will monitor for and automatically sends a summary of potentially suspicious messages for them both review. 
</p>

<p> 
<b>These summary messages only include: </b>
<ul>
    <li>Sender name</li>
<li>Number of suspicious messages</li>
<li>Categories the classifier flagged the messages for</li>
</ul>
<b>No message content is ever shared with the parent or guardian.</b>
</p>

<p> 
To stop the messages from being flagged, both the parent and minor must agree or disagree with the classification of messages for them to stop being flagged from that user in future.

</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Entry Requirements -->
<div class="modal fade" id="faq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">FAQ's</h2>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Course Costs -->
<div class="modal fade" id="aboutus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">About Us</h2>
      </div>
      <div class="modal-body">
         

        <p> With <b>Mobbing</b> we are contributing to addressing the growing social problem of online or cyber-bullying. </p>
        
        <p>Our service helps with this problem by removing some the stigma associated with discussing potential cases of bullying online - while maintaining clear boundaries for children and their guardians at the same time. </p>

       <p> There have been too many tragic deaths which could have been avoided with smarter tools or more open dialogues in families on the topic. If our service can help avoid just one more pointless loss of life then it will have done its job.</p>

        <p> We are the same team that is behind glider.io - an intelligent mail filtering service which is focused on removing the noise from your inbox leaving just the content you need to see there. We are confident that  our existing classifier technology can be adapted for use on this important social problem as well.</p>

      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>

</body>

</html>
