

<div class="hero">
    <div class="page-content clearfix">
        <div class="mammoth">

        </div>
        <div class="share-wrap">
            <p class="why brandon">Share with other parents</p>
            <p class="title brandon">Help us spread the word </p>
            <p class="subtitle brandon">Share your unique link via email, Facebook<br>or Twitter and we'll reward you for<br>each friend who also signs up to stay informed about Bully Radars progress.</p>
            <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <% twitter_message = "#StopCyberBullys Help @BullyRadar make a difference!" %>
            <div class="social-links">
                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"></a>
                <div class="sep"></div>
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
                <br>
            </div>
        </div>
    </div>
</div>


<% 
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   
 %>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <p class="callout brandon">Here's How It Works:</p>
        <ul class="products clearfix">
            <li class="title brandon"><p class="friends">Friends referred</p><p class="rewards">Reward </p></li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <div class="tooltip">
                        <img src="<%= stop["image"] %>" height="254">
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <% 
            words = ''
            if referrals_count == 1
                words = 'friend has'
            elsif 
                words = 'friends have'
            end

        %>

        <% if referrals_count == 0 %>
            <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
        <% else %>
            <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
        <% end %>
        <p class="check brandon">Keep checking</p>




        <a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a><br>
    </div>
</div>

 <!-- Call to Action -->
    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
